<div class="loading">
    <div class="head">
        <h3>Loading...</h3>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="logoAndCounters">
        <div class="logo">
            <img src="https://d26n5v24zcmg6e.cloudfront.net/Ruski_Logo.jpeg" alt="Ruski Logo">
        </div>
        <div class="counters">
            <div class="beers">
                <h1 class="beers-count">4200</h1>
                <h2 class="beers-label">beers consumed</h2>
            </div>
            <div class="yaks">
                <h1 class="yaks-count">69</h1>
                <h2 class="yaks-label">yaks spewed</h2> 
            </div>
        </div>
    </div>
    <div class="foot">
        <h5>playruski.com asks you to please drink responsibly</h5>
    </div>
</div>
