mat-card {
    // margin-top: 20px;
    // height: 200px;
}

.mat-card:hover {
    cursor: pointer;
}

img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid black;
}

.w2 {
    margin-left: -50px;
}

.l2 {
    margin-left: -50px;
    z-index: 1;
}

.l1 {
    z-index: 2;
}

.winners {
    margin-top: 0px;
    height: 65px;
}

.losers {
    height: 75px;
    text-align: right;
    margin-top: -10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.names {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -50px;
    font-size: 30px;
    font-weight: bold;
}

.win-score {
    color: green;
}

.lose-score {
    color: #b00020;
}

.win-score,
.lose-score {
    font-style: italic;
}

.score {
    display: inline-block;
    text-align: center;
    height: 75px;
}

.score-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
    font-weight: bold;
}

.description {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

.mat-icon {
    font-size: 30px;
    padding-left: 25px;
    // vertical-align: middle;
}

.likes,
.comments {
    font-size: 25px;
    margin-left: 10px;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .win-score {
        margin-right: 50px;
    }

    .lose-score {
        margin-left: 50px;
    }

    img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 1px solid black;
    }

    .names {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -25px;
        font-size: 20px;
        font-weight: bold;
    }

    mat-card {
        // height: 175px;
    }

    .score {
        display: inline-block;
        text-align: center;
        height: 50px;
        margin-top: 10px;
    }

    .score-text {
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        font-weight: bold;
    }

    .winners,
    .losers {
        height: 35px;
    }

    .losers {
        margin-top: 5px;
    }

    .w2 {
        margin-left: -15px;
    }

    .l2 {
        margin-left: -15px;
        z-index: 1;
    }

    .l1 {
        z-index: 2;
    }

    .description {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15px;
    }

    .mat-divider {
        // margin-left: 60px;
        // margin-right: 60px;
    }

    .mat-icon {
        font-size: 20px;
        padding-left: 15px;
        vertical-align: middle;
    }

    .likes,
    .comments {
        font-size: 15px;
        margin-left: 0px;
    }

    // .likes {
    //     position: absolute;
    //     margin-top: 5px;
    //     margin-left: 5px; /* optional */
    // }

    // .likes-relative {
    //     position: relative;
    //     top: -5px;
    //     margin-left: 5px; /* optional */
    // }
}
