<mat-card (click)="navToGame($event)">
    <div class="flex-container">
        <div class="winners">
            <img class="w1" src="{{ game.w1Image }}" (click)="goToUserProfile(game.w1Handle)"/>
            <img class="w2" src="{{ game.w2Image }} " (click)="goToUserProfile(game.w2Handle)" />
            <span class="names"
                >{{ game.w1Name | slice: 0:9 }} &
                {{ game.w2Name | slice: 0:9 }}</span
            >
        </div>
        <div class="score">
            <div class="score-text">
                <span class="win-score">{{
                    winning_score - losing_score
                }}</span>
                -
                <span class="lose-score">{{ 0 }}</span>
            </div>
        </div>
        <div class="losers">
            <span class="names"
                >{{ game.l1Name | slice: 0:9 }} &
                {{ game.l2Name | slice: 0:9 }}</span
            >
            <img class="l1" src="{{ game.l1Image }}" (click)="goToUserProfile(game.l1Handle)"/>
            <img class="l2" src="{{ game.l2Image }}" (click)="goToUserProfile(game.l2Handle)"/>
        </div>
    </div>
    <div class="flex-description">
        <p class="description">
            {{ game.description }}
        </p>
        <div class="brother-flex">
            <div class="brothers">
                <mat-icon
                    (click)="changeLikeCount($event)"
                    class="likeClick"
                    [ngStyle]="{ color: alreadyLiked ? 'red' : 'black' }"
                    >{{
                        !alreadyLiked ? "favorite_border" : "favorite"
                    }}</mat-icon
                >
                <span
                    (click)="changeLikeCount($event)"
                    class="likes likeClick"
                    >{{ game.likes }}</span
                >
                <mat-icon>{{
                    game.comments.length === 0
                        ? "chat_bubble_outline"
                        : "chat_bubble"
                }}</mat-icon>
                <span class="comments">{{ game.comments.length }}</span>
            </div>
            <div class="timestamp">
                {{ myTime.hour }}:{{ myTime.minute }} {{ myTime.month }}-{{
                    myTime.day
                }}
            </div>
        </div>
    </div>
    <mat-divider [inset]="true"></mat-divider>
</mat-card>
