<mat-card *ngIf="game">
    <mat-icon (click)="goBack()">arrow_back_ios</mat-icon>
    <div class="flex-container">
        <div class="winners">
            <img class="w1" src="{{ game.w1Image }}" />
            <img class="w2" src="{{ game.w2Image }}" />
            <span class="names"
                >{{ game.w1Name | slice: 0:9 }} &
                {{ game.w2Name | slice: 0:9 }}</span
            >
        </div>
        <div class="score">
            <div class="score-text">
                <span class="win-score">{{ winning_score }}</span>
                -
                <span class="lose-score">{{ losing_score }}</span>
            </div>
        </div>
        <div class="losers">
            <span class="names"
                >{{ game.l1Name | slice: 0:9 }} &
                {{ game.l2Name | slice: 0:9 }}</span
            >
            <img class="l1" src="{{ game.l1Image }}" />
            <img class="l2" src="{{ game.l2Image }}" />
        </div>
    </div>
    <div class="flex-description">
        <p class="description">
            {{ game.description }}
        </p>
        <div>
            <mat-icon
                (click)="changeLikeCount($event)"
                class="likeClick"
                [ngStyle]="{ color: alreadyLiked ? 'red' : 'black' }"
                >{{ !alreadyLiked ? "favorite_border" : "favorite" }}</mat-icon
            >
            <span (click)="changeLikeCount($event)" class="likes likeClick">{{
                game.likes
            }}</span>
            <mat-icon>{{
                game.comments.length === 0
                    ? "chat_bubble_outline"
                    : "chat_bubble"
            }}</mat-icon>
            <span class="comments">{{ game.comments.length }}</span>
        </div>
    </div>
</mat-card>
<div *ngIf="game" class="commenty">
    <div *ngIf="commentTextMirror.length > 0">
        <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
            <div
                *cdkVirtualFor="let comment of commentTextMirror; let i = index"
                class="comment-container"
            >
                <div class="placeholder">
                    <img
                        class="comment-image"
                        src="{{
                            commentDBMirror[i]
                                ? currentUser.profile_url
                                : game.comments[i].user.profile_url
                        }}"
                    />
                    <span class="comment-name">{{
                        commentDBMirror[i]
                            ? currentUser.name
                            : game.comments[i].user.name
                    }}</span>
                    <mat-icon
                        class="comment-likes"
                        (click)="changeCommentLikeCount($event, i)"
                        aria-hidden="false"
                        aria-label="Example home icon"
                        [ngStyle]="{
                            color: alreadyLikedComment[i] ? 'red' : 'black'
                        }"
                    >
                        {{
                            !alreadyLikedComment[i]
                                ? "favorite_border"
                                : "favorite"
                        }}
                    </mat-icon>
                    <span
                        (click)="changeCommentLikeCount($event, i)"
                        class="comment-like-count"
                        >{{ commentLikeMirror[i] }}</span
                    >
                </div>
                <div class="comment-text">{{ comment }}</div>
                <mat-divider></mat-divider>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <div class="first" *ngIf="commentTextMirror <= 0">
        Be the first to comment
    </div>
    <div class="add-comment">
        <mat-form-field appearance="outline">
            <mat-label>Add Comment</mat-label>
            <textarea
                matInput
                [formControl]="commentControl"
                placeholder="Ex. Dennis is a pussy... "
            ></textarea>
        </mat-form-field>
    </div>
    <div class="submit-button">
        <button mat-flat-button color="primary" (click)="postComment()">
            Post
        </button>
    </div>
</div>
