<mat-table *ngIf="length" [dataSource]="dataSource">

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let users; columns: columnsToDisplay"></mat-row>

    <!-- Displays the users rank -->
    <ng-container matColumnDef="rank">
        <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.rank}} </mat-cell>
    </ng-container>

    <!-- Displays the profile image -->
    <ng-container matColumnDef="profile">
        <mat-header-cell *matHeaderCellDef> Profile </mat-header-cell>
        <mat-cell *matCellDef="let element"> <img src="{{element.profile}}"/> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> <img src="{{element.profile}}"/> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Show elo -->
    <ng-container matColumnDef="elo">
        <mat-header-cell *matHeaderCellDef> Elo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.elo}} </mat-cell>
    </ng-container>
      
</mat-table>
<mat-paginator [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = $event">
</mat-paginator>