@import "~@angular/material/theming";
@import '/src/ruski-theme.scss';

img {
    max-height: 45px;
    width: auto;
    border-radius: 50%;
}

.mat-header-row{
    background-color: mat-color($ruski-theme-accent, A200);
}
.mat-header-cell{
    font-size: 1em;
}

.mat-column-rank, .mat-column-falseRank{
    flex: 0 0 10%;
}
.mat-column-name, .mat-column-falseName{
    flex: 0 0 60%;
}

@media screen and (max-width: 600px){
   img {
       max-height: 30px;
   }
   .mat-header-cell{
        font-size: 0.75em;
    }
}