<table mat-table *ngIf="length" [dataSource]="dataSource">

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let users; columns: columnsToDisplay"></tr>

    <!-- Displays the users rank -->
    <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef> Rank </th>
        <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>

    <!-- Displays the profile image -->
    <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef>Profile</th>
        <td mat-cell *matCellDef="let element"> <img src="{{element.profile}}"/></td>
    </ng-container>

    <!-- User Name -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Show elo -->
    <ng-container matColumnDef="elo">
        <th mat-header-cell *matHeaderCellDef> Elo </th>
        <td mat-cell *matCellDef="let element"> {{element.elo}} </td>
    </ng-container>
      
</table>
<mat-paginator [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = $event">
</mat-paginator>