.form {
    margin-left: 30%;
    margin-right: 30%;
}

img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid black;
}

.name {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-top: -60px;
    margin-left: 40px;
}

.elo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 25px;
    color: #2b5c36;
    font-weight: bold;
}

input {
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.dom {
    // margin-top: 100px;
}

.mat-card:hover {
    cursor: pointer;
    background-color: #b4c5b8;
}

@media screen and (max-width: 600px) {
    .form {
        margin-left: 20px;
        margin-right: 20px;
    }

    .mat-form-field {
        width: 300px;
    }

    input {
        width: 300px;
    }

    img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 1px solid black;
    }

    .name {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        margin-top: -20px;
        margin-left: 20px;
    }

    .elo {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        margin-left: 20px;
        margin-top: 25px;
        color: #2b5c36;
        font-weight: bold;
    }
}
