<mat-toolbar color="primary">Registration</mat-toolbar>
<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step>
        <ng-template matStepLabel>Fill out name</ng-template>
        <div class="description">
            The dropdown contains names of people already in the database who
            are not yet registered. <br /><br />If your name is not in dropdown,
            enter your own!
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Your name:</mat-label>
                <input
                    matInput
                    placeholder="Enter"
                    [matAutocomplete]="auto"
                    [formControl]="nameControl"
                />
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                    *ngFor="let name of filteredNames | async"
                    [value]="name"
                    >{{ name }}
                </mat-option>
            </mat-autocomplete>
        </div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Fill out handle</ng-template>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Desired Handle:</mat-label>
                <span matPrefix>@ &nbsp;</span>
                <input
                    matInput
                    placeholder="Handle"
                    [formControl]="handleControl"
                />
            </mat-form-field>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Fill out handle</ng-template>

        <div class="submit">
            <button mat-flat-button (click)="submitInfo()" color="primary">
                Submit
            </button>
        </div>
    </mat-step>
</mat-vertical-stepper>
<div class="flex-container">
    <div class="error">
        <p *ngIf="errorFlag">{{ errorMessage }}</p>
    </div>
</div>
