.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item {
    width: 800px;
    margin: auto;
    mat-form-field {
        padding-left: 50px;
        width: 200px;
    }
}

.submit {
    width: 550px;
    margin: auto;

    button {
        font-size: 25px;
        height: 50px;
        width: 200px;
        margin-left: 175px;
    }
}
