<div id="header">
    <div>Edit Profile</div>
</div>
<form [formGroup]="formGroup" (ngSubmit)="submitChanges()" class="flex-container">
    <div class="form-elements">
        <div id="profile">
            <img id="pro-pic" [src]="pic"/>
            <button mat-button color="primary" type="button" md-button (click)="imgFileInput.click()">New Profile Image</button>
            <input hidden type="file" #imgFileInput (change)="onSelect($event)" accept=".jpg,.png,.jpeg"/>
        </div>
        <div id="cropper">
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1 / 1"
                format="jpeg"
                (imageCropped)="imageCropped($event)"
                (cropperReady)="cropperReady()"
            ></image-cropper>
        </div>
        <div id="user-details">
            <mat-form-field appearance="standard">
                <mat-label>New Name:</mat-label>
                <input 
                    matInput
                    [formControl]="nameControl"
                    value="{{name}}"
                />
            </mat-form-field>
            <mat-form-field appearance="standard" id="handle-form">
                <mat-label>New Handle:</mat-label>
                <span matPrefix>@ &nbsp;</span>
                <input
                    matInput
                    [formControl]="handleControl"
                    value="{{handle}}"
                />
            </mat-form-field>
        </div> 
    </div>
    <div class="error">
        <p *ngIf="errorFlag">{{ errorMessage }}</p>
    </div>
    <div class="submit">
        <button mat-flat-button type="submit" color="primary">
            Save Changes
        </button>
    </div>
</form>