<div class="flex-container">
    <!--- <div class="form"> --->
    <form [formGroup]="formGroup">
        <mat-horizontal-stepper formArrayName="formArray" linear> 
            <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
                <div class="item">
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Your name:</mat-label>
                        <input
                            matInput
                            placeholder="Enter"
                            [formControl]="myName"
                            [matAutocomplete]="auto"
                            (focus)="filterHandler(myName)"
                        />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option
                                *ngFor="let name of filteredUsers | async"
                                [value]="name"
                                >{{ name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Cups:</mat-label>
                        <input
                            matInput
                            placeholder="Cups"
                            [formControl]="myCups"
                            type="number"
                            min="0"
                            max="10"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Yaks:</mat-label>
                        <input
                            matInput
                            placeholder="Yaks"
                            [formControl]="myPenalties"
                            type="number"
                        />
                    </mat-form-field>
                </div>
                <div class="item">
                   
                    <mat-form-field appearance="outline">
                        <mat-label>Partner:</mat-label>
                        <input
                            matInput
                            placeholder="Enter"
                            [formControl]="partnerName"
                            [matAutocomplete]="auto"
                            (focus)="filterHandler(partnerName)"
                        />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option
                                *ngFor="let name of filteredUsers | async"
                                [value]="name"
                                >{{ name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Cups:</mat-label>
                        <input
                            matInput
                            placeholder="Cups"
                            [formControl]="partnerCups"
                            type="number"
                            min="0"
                            max="10"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Yaks:</mat-label>
                        <input
                            matInput
                            placeholder="Yaks"
                            [formControl]="myPenalties"
                            type="number"
                        />
                    </mat-form-field>
                    
                </div>
                <div>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </mat-step>
            <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                </div>
                <div class="item">
                    <mat-form-field appearance="outline">
                        <mat-label>Player 1:</mat-label>
                        <input
                            matInput
                            placeholder="Enter"
                            [formControl]="oneName"
                            [matAutocomplete]="auto"
                            (focus)="filterHandler(oneName)"
                        />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option
                                *ngFor="let name of filteredUsers | async"
                                [value]="name"
                                >{{ name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Cups:</mat-label>
                        <input
                            matInput
                            placeholder="Cups"
                            [formControl]="oneCups"
                            type="number"
                            min="0"
                            max="10"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Yaks:</mat-label>
                        <input
                            matInput
                            placeholder="Yaks"
                            [formControl]="onePenalties"
                            type="number"
                        />
                    </mat-form-field>
                </div>
                <div class="item">
                    <mat-form-field appearance="outline">
                        <mat-label>Player 2:</mat-label>
                        <input
                            matInput
                            placeholder="Enter"
                            [formControl]="twoName"
                            [matAutocomplete]="auto"
                            (focus)="filterHandler(twoName)"
                        />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option
                                *ngFor="let name of filteredUsers | async"
                                [value]="name"
                                >{{ name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Cups:</mat-label>
                        <input
                            matInput
                            placeholder="Cups"
                            [formControl]="twoCups"
                            type="number"
                            min="0"
                            max="10"
                        />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Yaks:</mat-label>
                        <input
                            matInput
                            placeholder="Yaks"
                            [formControl]="twoPenalties"
                            type="number"
                        />
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </mat-step>
            <mat-step formGroupName="2" [stepControl]="formArray.get([2])">
                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                </div>
                <div class="description">
                    <mat-form-field class="desc-form">
                        <mat-label>Add description</mat-label>
                        <textarea
                            matInput
                            [formControl]="descriptionControl"
                            placeholder="Dennis is really cool... "
                        ></textarea>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </mat-step>


        </mat-horizontal-stepper>
    </form>
    <!--- </div> --->
    <div class="error">
        <p *ngIf="errorFlag">{{ errorMessage }}</p>
    </div>
    <div class="submit">
        <button mat-flat-button (click)="submitInfo()" color="primary">
            Submit
        </button>
    </div>
</div>
