.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item {
    width: 800px;
    margin: auto;
    mat-form-field {
        padding-left: 50px;
        width: 200px;
    }
}

.submit {
    width: 550px;
    margin: auto;

    button {
        font-size: 25px;
        height: 50px;
        width: 200px;
        margin-left: 175px;
    }
}

.description {
    width: 700px;
    margin: auto;
    padding-top: 50px;
}

.desc-form {
    width: 100%;
}

.error {
    margin: auto;
    height: 75px;
    color: red;
}

mat-form-field.mat-form-field {
    background-color: powderblue;
    
}
mat-form-field.mat-form-field-infix {
    width: 10px;
    
}
.mat-form-field-wrapper {
    width: 100px;
}

mat-form-fiel.mat-form-field-flex {
    width:100px;
}
mat-form-field.mat-form-field-outline {
    width : 0px;
}
