.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-entry{
    text-align: center;
}

.player-name{
    display:block;
}

.player-stats {
    display:inline-block;
    width: 47.5%;
}
.player-entry .mat-form-field:nth-child(2){
    margin: 0 2.5% 0 0;
}
.player-entry .mat-form-field:nth-child(3){
    margin: 0 0 0 2.5%;
}

.submit {
    text-align: center;
    width: 15%;
    margin: auto;

    button {
        font-size: 2em;
        padding: 4%;
        margin: 2%;
        width: 100%;
        height: auto;
    }
}

.description {
    width: 60%;
    margin: auto;
}

.desc-form {
    width: 100%;
}

.error {
    margin: auto;
    height: 75px;
    color: red;
}

@media screen and (max-width: 600px){
    .submit{
        width: 40%;
    } 
}
@media screen and (min-width: 601px){
    .player-entry{
        max-width: 65%;
        margin: 0 auto;
    }
}