<mat-toolbar color="primary">
    <div class="title">Ruski</div>
    <div class="icons">
        <div (click)="showFeed()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">
                public
            </mat-icon>
        </div>
        <div (click)="showLeaderboard()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">
                leaderboard
            </mat-icon>
        </div>
        <div (click)="enterGame()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">
                create
            </mat-icon>
        </div>
    </div>
</mat-toolbar>
