mat-toolbar {
    display: flex;
    font-size: 25px;
    height: 7vh;
    justify-content: space-between;
}

mat-icon:hover {
    cursor: pointer;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}
