.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.head{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

button {
    border-radius: 10px;
    font-size: 24px;
    height: 100px;
    width: 250px;
}

img {
    border-radius: 5px;
    height: 300px;
    width: 330px;
}