.login {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 5%;
    font-size: 40px;
    height: 100px;
    width: 300px;
}
