<div id="header">
    <img src="{{profile_url}}"/>
    <div id="user-details">
        <div id="name">{{name}}</div>
        <div id="handle">@{{handle}}</div>
    </div>
    <button mat-flat-button *ngIf="myProfile" color="accent" (click)="editProfile()">Edit Profile</button>
    <!-- <button mat-flat-button *ngIf="!myProfile && !isFriend" color="accent" (click)="addFriend()">Follow</button> -->
    <!-- <button mat-flat-button *ngIf="isFriend" color="accent" (click)="removeFriend()">Unfollow</button> -->
</div>